<div class="container">
    <div class="row">
        <div class="col-7">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-2 text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idOptions" id="id" value="idValue">
                <label class="form-check-label" for="id">ID</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idOptions" id="name" value="nameValue">
                <label class="form-check-label" for="name">nombre</label>
            </div>
        </div>
        <div class="col-3 text-center">
            <app-new-employee></app-new-employee>
        </div>
    </div>
</div>
