<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#EmployeeInformation">{{operacion}}</button>

<div class="container text-center" data-bs-toggle="modal" data-bs-target="#EmployeeInformation">
    <div class="modal fade" id="EmployeeInformation" tabindex="-1" role="dialog" aria-labelledby="registryLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize" id="exampleModalLabel text-capitalize"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>{{isNewForm}}</p>
                    <div *ngIf ="isNewForm ; then thenBlock else elseBlock"></div>
                        
                        <ng-template #thenBlock>
                            <h1 class="display-5 text-center">Nuevo empleado.</h1>
                            <app-employee-information></app-employee-information>
                        </ng-template>
                        <ng-template #elseBlock>
                            <h1 class="display-5 text-center">Informacion del empleado.</h1>
                            <app-employee-information></app-employee-information>
                        </ng-template>
                    </div> 
                <div class="modal-footer">
                    <p class="fs-3 text-center fw-semibold">appLiquidacion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
