<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#MiData">Agregar nuevo empleado.</button>

<div class="modal fade" id="MiData" tabindex="-1" role="dialog" aria-labelledby="registryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-capitalize" id="exampleModalLabel text-capitalize"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <app-new-employee-registry></app-new-employee-registry>
            </div> 
            <div class="modal-footer">
                <p class="fs-3 text-center fw-semibold">appLiquidacion.</p>
            </div>
        </div>
    </div>
</div>