<figure class="text-center">
    <h1 class="display-3">Liquidaciones Empleados</h1>
</figure>
    <app-search-bar></app-search-bar>
<div class="container">
    <app-employees-list 
        [employessListchild] = "employessListFather" 
        [pagination] = "paginationScope"
        (selectedEmployee) = "employeeSelectedInChild($event)"
        (employeesPerPageChange) = "reloadEmployees($event)">
    </app-employees-list>
</div>

<div *ngIf ="employeeChosen ; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    
</ng-template>
<ng-template #elseBlock>
    <h1 class="display-5 text-center">Seleccione el empleado.</h1>
</ng-template>


        